/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2015, 12:30:30 PM
    Author     : Student
*/
body {
    background-image: url('http://www.proselyte-graphics.com/Content/Worship-Backgrounds/Paper-Proselyte-Graphics.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

img{
   border: #f0f0f0 dotted;
     border:4px inset orange;   
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: center;
    font-size: 3em;
    border: 3px inset orange;
    font-family: 'Aguafina Script', cursive;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/7c/Wood_planks_texture.jpg")
}
img{
    height:  150px;
    width: auto;
}
.out {
    height: 350px;
    width: auto;
}
.sm {
    height: 40px;
    width: auto;
}
.sm:hover {
    height: 50px;
    width: auto;
}
li {
    color: black;
}
.menu {
    height: 480px;
    width: auto;
}
li {
    color: black;
}